* {
  margin: 0;
  box-sizing: border-box;
}

.blockboi-logo {
  position: relative;
  top: 10px;
  right: 10px;
  width: 200px;
}

.searchbar {
  margin-top: 18px;
}

.navbar-icon {
  width: 1.2rem;
}

.navbar-nav {
  margin: 0 30px;
  padding-top: 30px;
}

.nav-item {
  padding: 15px;
}

.nav-item a:hover {
  color: #FFDE00;
}
.list-group a:hover {
  color: #FFDE00;
}
#first-section {
  background-color: #FFF80A;
  background-image: url("yellow-background.jpg");
  background-size: cover;
  margin-top: 20px;
  height: 80vh;
  position: relative;
}

#carouselExampleIndicators {
  position: absolute;
  left: 350px;
  top: 80px;
  width: 43rem;
}

.catalogue {
  position: absolute;
  left: 80px;
  top: 80px;
  width: 12rem;
}

.catalogue-icon {
  width: 1.5rem;
}

.catalogue-text {
  text-decoration: none;
  color: black;
}

.catalogue-right {
  position: absolute;
  left: 1100px;
  bottom: 300px;
  width: 12rem;
}

.old-price {
  text-decoration: line-through;
}

#second-section {
  background-color: #EEF1FF;
  height: 110%;
  padding-top: 40px;
  padding-bottom: 50px;
}

.second-section {
  text-align: center;
  justify-content: center;
}

hr {
  width: 10%;
  border: 3px solid #EAF6F6;
  border-bottom: none;
  display: inline-block;
}

.top-selling {
  border: 2px solid #D2DAFF;
  display: inline-block;
  height: 40px;
  width: 20%;
}

.item-display {
  background-color: #FFFFFF;
  border: 1px inset;
  border-radius: 10px;
  display: inline-block;
  margin: 30px -40px 0 80px;
  height: 250px;
  width: 200px;
}

.item-display a {
  text-decoration: none;
  color: black;
}

.item-display a:hover {
  text-decoration: underline;
  text-align: center;
  color: inherit;
}

#form-section {
  background-color: #F6FBF4;
  height: 50vh;
  position: relative;
}

.bb-head {
  border-radius: 100%;
  position: absolute;
  left: 80px;
  top: 40px;
  width: 70px;
}

.page-links {

  position: absolute;
  left: 300px;
  top: 50px;
}
.page-links ul {
  list-style: none;
}

.page-links a {
  display: flex;
  padding: 10px;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 100;
}
.page-links a:hover {
  color: #FFDE00;
}

.form-attributes {
  width: 50%;
  position: absolute;
  right: 70px;
  top: 40px;
  text-align: center;
}

.social-connect {
  position: absolute;
  left: 80px;
  bottom: 60px;
}

.social-icon {
  width: 1.5rem;
}

.social-connect a {
  padding-right: 10px;
}

.social-connect a:hover {
  opacity: 0.5;
}

/* MEDIA QUERIES */
@media (max-width: 990px) {
  #carouselExampleIndicators {
    display: none;
  }
  .catalogue-right {
    position: absolute;
    left: 50%;
    margin-left: 50px;
  }
  .bb-head {
    position: absolute;
    left: 25%
  }
  .page-links {
    position: absolute;
    right: 25%;
  }
  .form-attributes {
    position: absolute;
    left: 50%;
    top: 100%;
  }
  .social-connect {
    position: absolute;
    left: 25%;
    top: 100%;
  }
}
